* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  flex: 0 0 0%;
  flex-flow: row nowrap;
}

html, body {
  height: 100%;
}


body {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(to right, #57c1ed 0%, #246fa8 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

:global {
  .container {
    min-width: 800px;
    max-width: 1000px;
    max-height: 800px;
    height: 95vh;
    background: #fff;
    border-radius: 10px;
    flex: 1 1 0%;
    display: flex;
  }
}

