.block {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  padding: 10px;

  & > button {
    flex: 1 1 0%;
    padding: 1em 0.5em;
    background-color: #F7C948;
    color: rgb(14, 58, 90);
    border: 1px solid #003E6B;
    border-radius: 3px;
    cursor: pointer;
  }
}

.prev {
  margin-right: 2px;
}

.next {
  margin-left: 2px;
}