.card {
  display: block;
  width: calc(50% - 10px);
  height: 250px;
  border-radius: 8px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .12);
  margin-right: 10px;
  margin-bottom: 15px;
  word-wrap: break-word;
  flex: none;

  &:nth-child(even) {
    margin-right: 0;
    margin-left: 10px;
  }

  display: flex;
  flex-direction: column;

  & > header > h2 {
    font-size: 20px;
    background: #0048aa;
    padding: 10px;
    border-radius: 8px 8px 0 0;
    color: #F7C948;
  }
  & > footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
}

.body {
  flex: 1 0 0%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.iconHeart {
  display: inline-block;
  width: 32px;
  height: 32px;
  flex: none;
  cursor: pointer;
}

.iconHeartActive {
  .secondary {
    fill: #ff0000; }
}

.primary {
  fill: #eee; }

.secondary {
  fill: #0048aa; }