.footer {
  display: flex;
  background-color: #eee;
  border-radius: 0 0 10px 0;
  align-items: center;
  justify-content: flex-end;
}

.favorites {
  flex: 1 0 0%;
  text-align: center;
  padding: 20px 0;
  cursor: pointer;
}