.list {
  flex: 0 0 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin-top: 10px;

  &__center {
    padding: 12px 6px 12px 0;
    line-height: 1.2em;
    min-height: 44px;
    color: #DCEEFB;
    cursor: pointer;
  }

  &__active {
    color: #F7C948;
    cursor: no-drop;
  }
}