.header {
  background-color: #eee;
  padding: 0 20px;
  font-weight: bold;
  border-radius: 0 10px 0 0;
  color: #0048aa;
  flex: 0 0 71px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & > .title {
    flex: 1 0 0%;
  }

  & > .count {
    flex: 0 0 45px;
  }
}

.listWrapper {
  padding: 0 20px;
  flex: 1 0 0%;
  display: flex;
  flex-wrap: wrap;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling:  touch;
}
