.feeds {
  display: flex;
  flex-direction: column;
  flex: 0 0 30%;
  background-color: #0048aa;
  border-radius: 10px 0 0 10px;

  h2 {
    text-align: center;
    margin-top: 1em;
    text-transform: uppercase;
    color: #eee;
  }
}

.items {
  flex: 1 1 0%;
  display: flex;
  flex-direction: column;
}
